body {
  background: #e4edf2;
  font-family: "Nunito", sans-serif;

}

.blurb h2 {
  color: #022538;
  font-weight: 100;
  font-size: 2rem;
}

.blurb p {
  color: #5792c9;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;

}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #022538;
}

#mainNavbar .navbar-brand {
  color: #022538;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #022538;
} 

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
} 

.navbar.scrolled {
  background: rgb(80,135,160);
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
  font-weight: 100;
  font-size: 3rem;
  } 
}